# Python Dangerously Crash Course Topics
* **Not all inclusive**
* **To be continueously expand and update over time**

Overview topics:
* Variables
* Datatypes
    1. Booleans
    2. Numbers (for arithmetic operations)
    3. Strings
    4. Lists
    5. Dictionaries
    6. Tuples 
    7. Sets
* The format() method for printing
* Comparison Operators
* Logic Operators
* Conditionals: if, elif, else Statements
* for Loops in Iteration
* while Loops
* range()
* List Comprehension
* Functions
* Lambda Function with .map() & .filter() methods

Assignment Questions

___
## Variables
*Do not use names starting with number or special characters

In [14]:
# Examples
cow = 2
x = 2
y = 3
z = x + y

In [ ]:
print(z)

____
## Data types

### 1. Booleans

True or False

____
### 2. Numbers & Arithmetic Operations

Examples

In [ ]:
# Examples
print(1 + 1)
print(1 * 3)
print(1 / 2)
print(2 ** 4)
print(4 % 2)

**Do the following operations in code cell(s):**
* 5 % 2
* (2 + 3) * (5 + 5)

In [1]:
print(5%2)

1

In [2]:
print((2+3)*(5+5))

50

___
### 3. Strings

Examples

In [6]:
print("single '' quotation marks")
print('double "" quotation marks')
print("wrapping lot's of other quotes")

single '' quotation marks
double "" quotation marks
wrapping lot's of other quotes

___
### 4. Lists (Collection array)
* In an array, objects=elements=items

Examples with exemplary methods:

In [ ]:
[1,2,3]

In [ ]:
['cow',1,[1,2]]

In [3]:
lt = [1, 2, 3, 4, 5, 6]
lt.append(7)
lt

[1, 2, 3, 4, 5, 6, 7]

In [4]:
print(lt[4])
print(lt[0])

5
1

**Execute the following operations in code cell(s):**

* print(lt[1:])
* print(lt[:1])
* lt[5] = 157
* print(lt)

* t = [1,2,3,[4,5,['kebab']]]
* print(t)

In [5]:
print(lt[1:])

[2, 3, 4, 5, 6, 7]

In [6]:
t = [1,2,3,[4,5,['kebab']]]
print(t)

[1, 2, 3, [4, 5, ['kebab']]]

**Execute the following operations in code cell(s):**
* t[3]
* t[3][2]
* t[3][2][0]

In [7]:
t[3]

[4, 5, ['kebab']]

In [8]:
t[3][2]

['kebab']

In [9]:
t[3][2][0]

'kebab'

___
### 5. Dictionaries
* Store data values in key:value pairs.
* Curly brackets {}

Examples

In [10]:
d = {'key1':'nuggets','key2':'pizza'}
d

{'key1': 'nuggets', 'key2': 'pizza'}

In [11]:
d['key1']

'nuggets'

___
### 6. Tuples
* Store multiple objects in a single variable (similar to a list).
* Normal brackets ()
* **Unlike a list, objects in a tuple is immutable (i.e. value cannot be reassigned)**

Examples

In [ ]:
tu = (1, 2, 3)
tu[1]

In [ ]:
# Remember tuple objects are unchangable (i.e. value reassignment is not possible)
tu[0] = 631
tu

___
### 7. Sets

* objects are unordered and unindexed.
* cannot be of the same keys.
* set objects are unchangeable but can be added or deleted.

Examples

In [12]:
{1,2,3}

{1, 2, 3}

In [13]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

___
## The format() method for printing

Examples:

In [14]:
sn = 202312345
name = 'Minji'
print('My student number is: {a}, and my name is: {b}'.format(a=sn,b=name))

My student number is: 202312345, and my name is: Minji

In [15]:
print('My student number is: {}, and my name is: {}'.format(sn,name))

My student number is: 202312345, and my name is: Minji

___
## Comparison Operators

**Do the following in code cell(s):**
* 1 > 2
* 1 < 2
* 1 >= 1
* 1 <= 4
* 1 != 1
* 'cow' == 'beef'

In [ ]:
print(1 > 2)
print(1 < 2)
print(1 >= 1)
print(1 <= 4)
print(1 != 1)
print('cow' == 'beef')

___
## Logic Operators

Examples

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

___
## Conditionals: if, elif, else Statements

Examples

In [ ]:
if 1 < 2:
    print('Yes')

In [ ]:
if 1 < 2:
    print('No')

In [ ]:
if 1 < 2:
    print('Yes')
else:
    print('No')

In [ ]:
if 1 > 2:
    print('Yes')
else:
    print('No')

In [ ]:
if 1 == 2:
    print('No')
elif 3 == 3:
    print('Yes')
else:
    print('Huh?')

___
## for Loops in Iteration

Examples

In [ ]:
fo = [1,2,3,4,5]
for x in fo:
    print(x)

In [ ]:
for x in fo:
    print('Yes')

In [ ]:
for x in fo:
    print(x+x)

___
## while Loops

Examples

In [ ]:
i = 1
while i < 5:
    print('i --> {}'.format(i))
    i = i+1

In [ ]:
c=0
while c<7:
    print("Increment counter:", c)
    c+=1

In [ ]:
while True:
    num = input("Enter a number: ")
    if num.isdigit():
        break
    else:
        print(num + " is not a number.")
print("Entry:", num)

___
## range(start, stop, step)

Examples

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

In [ ]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
for x in range(1,4):
    print(a[x])

In [ ]:
x = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a = x.index("c")
print("'c' is at index", a)
b = x.pop(a)            # .pop() method removes an array object
for c in range(7):
    x.append(b)
    print(x[c])

___
## List Comprehension (A short form of doing for loop iteration)

Examples

In [ ]:
x = [1,2,3,4]
a = []
for i in x:
    a.append(i**2)
print(a)

**``list comprehension (shown below) is a shorter way to perform the same task as the above``**

In [ ]:
[i**2 for i in x]

___
## Functions

Examples

In [ ]:
def f1(p='parameter'):
    print(p)
f1()

In [ ]:
f1('new arguement 1')

In [ ]:
f1(p='new arguement 2')

In [ ]:
def sq(x):
    return x**2
a = sq(2)
a

___
## Lambda Function with .map() & .filter() methods

Examples

In [11]:
def func(x):
    return x*3.5

func(3)

10.5

In [12]:
# Applying .map() method to the list, a
a = [1,2,3,4,5,6]
list(map(func, a))

[3.5, 7.0, 10.5, 14.0, 17.5, 21.0]

In [13]:
# Applying lambda function and .map() method to the list, a.
# The lambda function allows the multiplying functionality to be built directly into the single line of code.
list(map(lambda x: x*3.5, a))

[3.5, 7.0, 10.5, 14.0, 17.5, 21.0]

In [18]:
# Applying lambda function and .filter() method to the list, a.
# The lambda function allows the filtering functionality to be built directly into the single line of code.
b = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda i: i%2 == 0, b))

[2, 4, 6, 8, 10]

___
## String Data Formatting Methods

Examples

In [ ]:
s = 'A can of COLA after a KEBAB makes a lady smile'
a1 = s.lower()
a1

In [ ]:
a2 = s.upper()
a2

In [ ]:
a3 = s.split()
a3

In [ ]:
s1 = 'A can of #COLA after a #KEBAB makes a lady smile'
a4 = s1.split('#')
a4

In [ ]:
a5 = s1.split('#')[1]
a5

___
___
# Assignment Questions

**Q1. Provide the code below to execute the arithmetic operation of 21 to the power of 6.**

In [16]:
21**6

85766121

**Q2. Split the following string into a list:**

**s = 'A can of COLA after a kebab makes a lady smile.'**

In [18]:
s = 'A can of COLA after a kebab makes a lady smile.'

In [19]:
s.split()

['A',
 'can',
 'of',
 'COLA',
 'after',
 'a',
 'kebab',
 'makes',
 'a',
 'lady',
 'smile.']

In [20]:
s.split('a')

['A c', 'n of COLA ', 'fter ', ' keb', 'b m', 'kes ', ' l', 'dy smile.']

**Q3. Use the two provided variables in the cell below to print the following string by using the .format() method:**

``The diameter of Earth is 12742 kilometers.``

In [21]:
planet = "Earth"
diameter = 12742

In [27]:
print('The diameter of',planet,'is',diameter,'kilometers.')

The diameter of Earth is 12742 kilometers.

In [22]:
print('The diameter of {} is {} kilo'.format(planet,diameter))

The diameter of Earth is 12742 kilo

In [24]:
print(f'The diameter of {planet} is {diameter} kilo.')

The diameter of Earth is 12742 kilo.

**Q4. Print the word, 'kebab' from the nested list, listA by using indexing:**

In [29]:
listA = [1,2,[3,4.338],[5,[100,298.1,['kebab']],23,11],-1,0.347]

In [30]:
listA[3][1][2][0]

'kebab'

**Q5. Print the word, 'hotdog' from the nested dictionary, dictA by using indexing:**

In [32]:
dictA = {'k1':[1,2,3,{'menu':['chickenwings','pizza','huh?',{'target':[1,2,3,'hotdog']}]}]}

In [35]:
dictA['k1'][3]['menu'][3]['target'][3]

'hotdog'

**Q6. Create a function to return the email website domain from a string.**

**The function allows passing of 'user@domain.com' to return only 'domain.com'.**

In [40]:
def get(x):
    return x.split('@')[-1]
get('user@domain.com')

'domain.com'

**Q7. Create a basic function to return True if the word 'dog' is contained in the input string. Call the function with the string: 'Who let the dog out?', as the arguement.**

**Account for letter cases.**

In [41]:
def doggy(woof):
    return 'dog' in woof.lower().split()
doggy('Who let the dog out?')

True

**Q8. Create a function to count the number of times the word "dog" occurs in a string.**

**Call the function with the string: 'The white dog runs faster than the black dog and the other dog !', as the arguement.**

In [44]:
def countDog(a):
    c=0
    for x in a.lower().split():
        if x == 'dog':
            c+=1
    return c
countDog('The white dog runs faster than the black dog and the other dog !')

3

**Q9. Use lambda expressions + the .filter() method to remove words from the below list that start without the letter 's'.**

**listB = ['soup','hotdog','salad','nuggets','kebab']**

In [47]:
listB = ['soup','hotdog','salad','nuggets','kebab']

In [50]:
list(filter(lambda x: x[0]=='s', listB))

['soup', 'salad']

**Q10. Context: Traffic Speeding Fines**

**Write a function to return one of 3 possible results: "No fine", "Fined USD$2000", or "Fined USD$50".**

**If car travelling speed caught at 60 or below, return "No fine".**

**If car travelling speed caught between 61 and 80, return "Fined USD$50".**

**If car travelling speed caught at 81 and higher, return "Fined USD$2000".**

**In all cases, if the person caught speeding happened to be an old person (encoded as a boolean value (True/False) in the parameters of the function), the traffic police accepts a minus 10 from the caught speed.**

In [1]:
def fines(speed, old):
    if old == True:
        s = speed - 10
    else:
        s = speed
    
    if s>80:
        return '$2000 Fine'
    elif s>60:
        return '$50 Fine'
    else:
        return 'No Fine'

**Execute the cell below to call the function for the case of an old person speeding at 89.**

In [2]:
fines(89, True)

'$50 Fine'

**Execute the cell below to call the function for the case of NOT an old person speeding at 89.**

In [3]:
fines(81, False)

'$2000 Fine'